body {
    background-color: #FFFFCC;
    color: #193550;
}

h1 {
    color: #062749;
  border-top: 5px solid red;  
  border-bottom: 5px solid red; 
  margin: 25px 0px;
}

p {
    padding: 10px 0px;
}

.speciaal {
    background-image: url("../images/parker.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border: 20px ridge blue;
    height: 85px;
}

